<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="LircayHub"
        android:supportsRtl="true"
        android:theme="@style/Theme.EVA1"
        tools:targetApi="31">
        <activity
            android:name=".modificar"
            android:exported="false" />
        <activity
            android:name=".productos"
            android:exported="false" />
        <activity
            android:name=".lugares"
            android:exported="false" />
        <activity
            android:name=".inventario"
            android:exported="false" />
        <activity
            android:name=".recordatorio"
            android:exported="false" />
        <activity
            android:name=".Compras"
            android:exported="false" />
        <activity
            android:name=".lista_compra"
            android:exported="false" />
        <activity
            android:name=".registro"
            android:exported="false" />
        <activity
            android:name=".Inicio"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>